{% extends "hackathon/base.html" %}
{% block body %}
<h1>HackathonTi.me</h1>
<div class="row">
	<div class="col-md-6">
		<div class="my-3 p-3 bg-white rounded shadow-sm">
			<h6 class="border-bottom border-gray pb-2 mb-0 text-center">Ongoing Hackathons</h6>
			<div class="media text-muted pt-3">
			  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			    <strong class="d-block text-gray-dark">Hackathon Name</strong>
			    Hackathon Info
			  </p>
			</div>
			<small class="d-block text-right mt-3">
			  <a href="#">All Ongoing hackathons</a>
			</small>
		</div>
	</div>
	<div class="col-md-6">
		<div class="my-3 p-3 bg-white rounded shadow-sm">
			<h6 class="border-bottom border-gray pb-2 mb-0 text-center">Upcoming Hackathons</h6>
			<div class="media text-muted pt-3">
			  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			    <strong class="d-block text-gray-dark">Hackathon Name</strong>
			    Hackathon Info
			  </p>
			</div>
			<small class="d-block text-right mt-3">
			  <a href="#">All upcoming hackathons</a>
			</small>
		</div>
	</div>
</div>
<div class="my-3 p-3 bg-white rounded shadow-sm">
	<h6 class="border-bottom border-gray pb-2 mb-0 text-center">Team Ranking</h6>
	<div class="media text-muted pt-3">
	  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
	    <strong class="d-block text-gray-dark">Team Name</strong>
	    Team user id
	  </p>
	</div>
	<div class="media text-muted pt-3">
	  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
	    <strong class="d-block text-gray-dark">Team Name</strong>
	    Team user id
	  </p>
	</div>
	<small class="d-block text-right mt-3">
	  <a href="#">More</a>
	</small>
</div>
{% endblock body %}