{% extends "hackathontime_main/base.html" %}
{% block body %}
	<div class="content-section">
		<div class="row">
			<legend class="border-bottom border-gray pb-3 pt-0 text-center">
				{{ hackathon.hackathon_name }}
			</legend>
			<div class="d-md-none col text-right">
				<legend class="pb-2 border-gray text-right">
					{{ hackathon.hackathon_team_going.count }} team{{ hackathon.hackathon_team_going.count|pluralize:"s" }} registered
				</legend>
			</div>
			<div class="col-lg-8">
				<div class="my-1 p-3">
					<div class="row">
						<div class="col-7">
							<legend class="pb-2 border-gray border-bottom">
								Details
							</legend>
						</div>
						<div class="d-none d-md-block col-5">
							<legend class="pb-2 border-gray text-right">
								{{ hackathon.hackathon_team_going.count }} team{{ hackathon.hackathon_team_going.count|pluralize:"s" }} registered
							</legend>
						</div>
					</div>
					<div class="pb-3">{{ hackathon.hackathon_content }}</div>
					<div>Venue : {{ hackathon.hackathon_location_name }} 
					{% if hackathon.hackathon_location_address %} | {{ hackathon.hackathon_location_address }}
					{% endif %}</div>
				</div>
				<div class="my-1 p-3">
					<legend class="pb-2 border-gray border-bottom">
						Teams registered
					</legend>
					{% for team in hackathon.hackathon_team_going.all %}
						<div><a href="">{{ team.team_name }}</a></div>
					{% endfor %}

				</div>
			</div>
			<!-- MAP -->
			{% if hackathon.hackathon_location_url != "null" %}
				<div class="col-lg-4">
					<div class="my-4 p-1 bg-white text-center rounded shadow">
						<legend class="border-gray text-center">Map</legend>
						<div id="map-container-google-1" class="z-depth-1-half map-container">
						  <iframe src="{{ hackathon.hackathon_location_url }}" frameborder="0"
						    style="border:0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			{% endif %}
		</div> <!-- this ends parent row div -->
		<div style="margin-bottom: 5em">
		</div>
	</div>
	<footer style="position: fixed; height: 5em; bottom: 0; width: 100%;" class="fixed-bottom border-gray bg-dark shadow">
  		<div class="container my-3">
				<div class="row">
					<div class="col d-none d-md-block my-auto">
			  			<div class="container">
			    			<span class="text-white">{{ hackathon.hackathon_date|date:"M dS' Y" }} | {{ hackathon.hackathon_period }} hours</span>
			    		</div>
			    		<div class="container">
			    			<span class="text-white"><b>{{ hackathon.hackathon_name }}</b></span>
			    		</div>
			    	</div>
			    	<div class="col text-center my-auto">
			    		<div class="container">
			    			{% if registered %}
			    				<span class="text-white"><button type="submit" class="btn btn-outline-primary btn-lg" disabled>Already Registered</button></span>
		    				{% else %}
				    			<form method="POST">
				    				{% csrf_token %}
				    				<span class="text-white"><button type="submit" class="btn btn-outline-primary btn-lg ">Register</button></span>
				    			</form>
			    			{% endif %}
			    		</div>
			    	</div>
			    </div>
	    	</div>
	</footer>
{% endblock body %}