{% extends "hackathontime_main/base.html" %}
{% block body %}
	<div class="content-section">
		<div class="row">
			<legend class="border-bottom border-gray pb-2 mb-2 text-center">
				Hackathon Name
			</legend>
			<div class="col-md-8">
				<div class="my-3 p-3 bg-white rounded shadow text-center">
					All info about hackathon here
				</div>
			</div>
			<div class="col-md-4">
				<div class="my-3 p-3 bg-white rounded shadow text-center">
					Maps and shit here
				</div>
			</div>
		</div>
	</div>
{% endblock body %}