{% extends "hackathontime_main/base.html" %}
{% load markdown_deux_tags %}
{% block body %}
	<div class="content-section">

	<div class="row my-2 media">
		<div class="col-lg-4 order-lg-1 text-center">
			<div style="background-image:url('{{ profile.image.url }}')" class="user d-block mx-auto"></div>
		</div>
		<div class="col-lg-8 order-lg-2">
			<div class="tab-content">
				<div class="my-3 p-3 bg-white rounded">
					<legend class="border-bottom border-gray pb-2 mb-2 text-center">Profile for {{ profile.user.username }}</legend>
					<div class="row">
						<div class="col-md-6">
							<div class="my-3 p-3 bg-white rounded shadow">
								<h6 class="border-bottom border-gray pb-2 mb-2 text-center">Info</h6>
								<p class="mb-0">
									Name : {{ profile.user.get_full_name }}<br>

								</p>
							</div>
						</div>
						<div class="col-md-6">
							{% if profile.is_in_a_team %}
								<div class="my-3 p-3 bg-white rounded shadow">
									<h6 class="border-bottom border-gray pb-2 mb-2 text-center">Team : <a href="{% url 'ht-team-view' profile.team.team_slug %}">{{ profile.team.team_name }}</a></h6>
									<p class="mb-0">
										Members :
										{% for team_member in team_members %}
											<a href="{% url 'ht-profile-view' team_member %}">{{ team_member }}</a>{% if not forloop.last %}, {% endif %}
										{% endfor %}
									</p>
								</div>
							{% else %}
								<div class="my-3 p-3 bg-white rounded">
									<h6 class="pb-2 mb-2 text-center"><a href="{% url 'ht-register-team' %}">{{ profile.user.username }} hasn't joined a team yet.</a></h6>
								</div>
							{% endif %}
						</div>
					</div>
					<div class="my-3 p-3 bg-white rounded shadow">
						<h6 class="border-bottom border-gray pb-2 mb-2 text-center">About</h6>
						<!-- <p class="mb-0"> -->
							{{ profile.bio|markdown }}<br>
						<!-- </p> -->
					</div>
				</div>
			</div>
		</div>
	</div>	
	</div>
{% endblock body %}