{% extends "hackathontime_main/base.html" %}
{% load crispy_forms_tags %}
{% load markdown_deux_tags %}
{% block body %}
	<!-- <div class="content-section">
		<div class="media">
			<img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
			<div class="media-body">
				<h2 class="account-heading">{{ user.username }}</h2>
				<p class="text-secondary">{{ user.email }}</p>
			</div>
		</div>
	</div> -->
	<div class="content-section">

	<div class="row my-2 media">
		<div class="col-lg-4 order-lg-1 text-center">
			<div style="background-image:url('{{ user.profile.image.url }}')" class="user d-block mx-auto"></div>
		</div>
		<div class="col-lg-8 order-lg-2">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
				</li>
				<li class="nav-item">
					<a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="profile">
					<div class="my-3 p-3 bg-white rounded">
						<legend class="border-bottom border-gray pb-2 mb-2 text-center">Profile for {{ user.username }}</legend>
						<div class="row">
							<div class="col-md-6">
								<div class="my-3 p-3 bg-white rounded shadow">
									<h6 class="border-bottom border-gray pb-2 mb-2 text-center">whoami</h6>
									<p class="text-center mb-0">
										Name : {{ user.get_full_name }}
									</p>
								</div>
							</div>
							<div class="col-md-6">
									{% if user.profile.is_in_a_team %}
										<div class="my-3 p-3 bg-white rounded shadow">
											<h6 class="border-bottom border-gray pb-2 mb-2 text-center">Team : <a href="{% url 'ht-team-view' user.profile.team.team_slug %}">{{ user.profile.team }}</a></h6>
											<p class="mb-0">
												Members :
												{% for team_member in team_members %}
													<a href="{% url 'ht-profile-view' team_member %}">{{ team_member }}</a>{% if not forloop.last %}, {% endif %}
												{% endfor %}
											</p>
										</div>
									{% else %}
										<div class="my-3 p-3 bg-white rounded">
											<h6 class="pb-2 mb-2 text-center"><a href="{% url 'ht-register-team' %}">Click here to create/join a team.</a></h6>
										</div>
									{% endif %}
							</div>
						</div>
						<div class="my-3 p-3 bg-white rounded shadow">
							<h6 class="border-bottom border-gray pb-2 mb-2 text-center">About</h6>
							<!-- <p class="mb-0"> -->
								{{ user.profile.bio|markdown }}
							<!-- </p> -->
						</div>
					</div>
					<!--/row-->
				</div>
				<div class="tab-pane" id="edit">
					<div class="my-3 p-3 bg-white rounded">
						<form method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							<fieldset class="form-group">
								<legend class="border-bottom border-gray pb-2 mb-2 text-center">Edit profile for {{ user.username }}</legend>
								{{ profile_form|crispy }}
							</fieldset>
							<div class="form-group">
	                        	<label class="col-lg-3 col-form-label form-control-label"></label>
								<div class="col-lg-9">
									<button class="btn btn-primary" type="submit">Save Changes</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	</div>
{% endblock body %}