{% extends "hackathontime_main/base.html" %}
{% block body %}
	<!-- hackathon won? and score till now, also team mates -->
	<legend class="border-bottom border-gray pb-3 pt-0 text-center">
		{{ request.user.profile.team.team_name }} 
	</legend>
	<div class="row">
		<div class="col-sm-3 p-3 mx-3">
			<div class="list-group" id="list-tab" role="tablist">
				<a class="list-group-item list-group-item-action active" id="list-overview-list" data-toggle="list" href="#list-overview" role="tab" aria-controls="overview">Overview</a>
				<a class="list-group-item list-group-item-action" id="list-members-list" data-toggle="list" href="#list-members" role="tab" aria-controls="members">Members</a>
			</div>
		</div>
	
		<div class="col-sm-8 p-3">
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active" id="list-overview" role="tabpanel" aria-labelledby="list-overview-list">
					{% lorem %}
				</div>
				<div class="tab-pane fade" id="list-members" role="tabpanel" aria-labelledby="list-members-list">
					<div class="row">
						{% for member in team_members %}
							<div class="col-lg-6 card p-1 mx-auto mb-2" style="width: 20rem;">
							  <img class="card-img-top" src="{{ member.image.url }}" alt="Card image cap">
							  <div class="card-body p-2 mb-0">
							    <p class="text-center p-0 m-0"><a href="{% url 'ht-profile-view' member.slug %}">{{ member.user.get_full_name }} ({{ member.user.username }}) </a> <br> <span class="text-muted"> {{ member.bio|truncatechars:45 }} </span></p>
							  </div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock body %}