{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/v4-shims.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'hackathontime_main/main.css' %}">
	{% if title %}
		<title>{{ title }} - HackathonTime</title>
	{% else %}
		<title>HackathonTime</title>
	{% endif %}
</head>
<body style="background-color: #f6f7f8;">
	<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
	  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="d-lg-none"><a class="navbar-brand mr-auto" href="{% url 'ht-home' %}">HackathonTi.me</a></div>
	  

	  <div class="navbar-collapse offcanvas-collapse" id="mainnav">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item {% if request.resolver_match.url_name == 'ht-home' %}active{% endif %}">
	        <a class="nav-link" href="{% url 'ht-home' %}">Dashboard <span class="sr-only">(current)</span></a>
	      </li>
	      {% if user.is_authenticated %}
		      <li class="nav-item {% if request.resolver_match.url_name == 'ht-profile' %} active {% elif request.resolver_match.url == 'ht-profile-view' %} active {% endif %}">
		        <a class="nav-link" href="{% url 'ht-profile' %}">Profile</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'ht-logout' %}">Logout</a>
		      </li>
		      {% if user.is_superuser %}
		      	<li class="nav-item">
		        	<a class="nav-link" href="/admin">Admin</a>
		      	</li>
		      {% endif %}
	      {% else %}
		      <li class="nav-item {% if request.resolver_match.url_name == 'ht-register' %}active{% endif %}">
		        <a class="nav-link" href="{% url 'ht-register' %}">Register</a>
		      </li>
		      <li class="nav-item {% if request.resolver_match.url_name == 'ht-login' %}active{% endif %}">
		        <a class="nav-link" href="{% url 'ht-login' %}">Login</a>
		      </li>
	      {% endif %}
	      
	    </ul>
	    <a class="navbar-brand mr-auto" href="{% url 'ht-home' %}">HackathonTi.me</a>
	    <ul class="navbar-nav mr-auto">
	    	<li class="nav-item">
	    		<a class="nav-link" href="https://github.com/nk521/hackathonti.me" target="_blank">Github</a>
	    	</li>
	    </ul><!-- 
	    <form class="form-inline my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	    </form> -->
	  </div>
	</nav>

	{% block nav %}
	{% endblock %}

	<div class="container pt-4" >
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-{{ message.tags }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
		{% block body %}
		{% endblock %}
	</div>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript">
    	$(function () {
		  'use strict'

		  $('[data-toggle="offcanvas"]').on('click', function () {
		    $('.offcanvas-collapse').toggleClass('open')
		  })
		})
    </script>
</body>
</html>